@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

* {
    font-family: 'Karla', sans-serif;
}

.App{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

root{
    background-color: #FAF9F6;
}

