@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: Roboto, Ariel;
  background-color: bisque;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: chocolate;
  border: solid;
  border-radius: 5px;
  border-width: 10px;
  border-color: black; 
}

#home:hover {
  background-color: blanchedalmond;
  transition: 1s;
  cursor: pointer;
}

#title {
  display: flex;
  position: absolute;
  text-align: center;
  border: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: black;
  background-color: burlywood;
  padding: 10px;
  
}

.search-area {
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

#search-button {
  box-shadow: none;
  outline: none;
  height: 30px;
  border-radius: 5px;
  border-color: black;
  margin: 10px;
  background-color: burlywood;
}

#search-button:hover {
  background-color: blanchedalmond;
  transition: 1s;
  cursor: pointer;
}

#search-bar {
  outline: none;
  box-shadow: none;
  border-color: black;
  border-radius: 5px;
  background-color: burlywood;
}

#search-bar:hover {
  background-color: blanchedalmond;
}

.article-list {
  border: solid;
  border-color: black;
  border-radius: 5px;
  background-color: chocolate;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
}

.article {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: burlywood;
  border: solid;
  border-radius: 10px;
  border-color: black;
  height: 250px;
  width: 200px;
  margin: 70px;
}

.article:hover{
  height: 300px;
  width: 250px;
  border-color: blanchedalmond;
  transition: 1s;
  cursor: pointer;
}

.article:hover .article-title{
  border-color: blanchedalmond;
  transition: 1s;
  cursor: pointer;
}

.article-title {
  word-wrap: break-word;
  font-size: 90%;
  border: solid;
  border-color: black ;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: burlywood;
  overflow: scroll;
  height: 50px;
  width: 100%;
  padding:0%;
  margin: 0;
}

.article-title::-webkit-scrollbar {
  display: none;
}

.article-image {
  height: 100%;
  max-width: 100%;
  background-color: burlywood;
}

article.expanded-article {
  width: 90%;
  height: 500px;
  background-color: inherit;
  border-radius: inherit;
}