@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: Roboto, Ariel;
  background-color: bisque;
}

html, body, main{
  background-image: linear-gradient(saddlebrown, bisque);
  background-repeat: no-repeat;
}


header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: chocolate;
  border: solid;
  border-radius: 5px;
  border-width: 10px;
  border-color: black; 
}

#home:hover {
  background-color: blanchedalmond;
  transition: 1s;
  cursor: pointer;
}

#title {
  display: flex;
  position: absolute;
  text-align: center;
  border: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: black;
  background-color: burlywood;
  padding: 10px;
  
}

.search-area {
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

#search-button {
  box-shadow: none;
  outline: none;
  height: 30px;
  border-radius: 5px;
  border-color: black;
  margin: 10px;
  background-color: burlywood;
}

#search-button:hover {
  background-color: blanchedalmond;
  transition: 1s;
  cursor: pointer;
}

#search-bar {
  outline: none;
  box-shadow: none;
  border-color: black;
  border-radius: 5px;
  background-color: burlywood;
}

#search-bar:hover {
  background-color: blanchedalmond;
}

.article-list {
  border: solid;
  border-color: black;
  border-radius: 5px;
  background-color: chocolate;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
}

.article {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: burlywood;
  border: solid;
  box-shadow: 5px 10px 8px;
  border-radius: 10px;
  border-color: black;
  height: 250px;
  width: 200px;
  margin: 70px;
}

.article:hover{
  height: 300px;
  width: 250px;
  border-color: blanchedalmond;
  transition: 1s;
  cursor: pointer;
}

.article:hover .article-title{
  border-color: blanchedalmond;
  transition: 1s;
  cursor: pointer;
}

.article-title {
  word-wrap: break-word;
  font-size: 90%;
  border: solid;
  border-color: black ;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: burlywood;
  overflow: scroll;
  height: 60px;
  width: 100%;
  padding:0%;
  margin: 0;
}

.article-title::-webkit-scrollbar {
  display: none;
}

.article-image {
  height: 100%;
  max-width: 100%;
  background-color: burlywood;
}

.expanded-art-container{
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: chocolate;
}

.image-container {
  display: inline-block;
  width: 500px;
  height: 300px;
  border: solid;
  border-radius: 10px;
  border-color: black;
}

.title-container {
  display: inline-block;
  width: 40%;
  background-color: burlywood;
  border: solid;
  border-radius: 10px;
  border-color: black;
}

.desc-container {
  display: inline-block;
  width: 90%;
  background-color: burlywood;
  border: solid;
  border-radius: 10px;
  border-color: black;
}

.author-container {
  display: inline-block;
  background-color: burlywood;
  border: solid;
  border-radius: 10px;
  border-color: black;
  padding: 5px;
}

.art-link-container {
  text-decoration: none;
  color: black;
  display: inline-block;
  background-color: burlywood;
  border: solid;
  border-radius: 10px;
  border-color: black;
  padding: 5px;
  margin: 4px;
}

.art-link-container:hover{
  background-color: blanchedalmond;
  transition: 1s;
  cursor: pointer;
}

.go-back-container {
  display: inline-block;
  background-color: burlywood;
  border: solid;
  border-radius: 10px;
  border-color: black;
  padding: 4px;
  margin: 2px;
}

.go-back-container:hover {
  background-color: blanchedalmond;
  transition: 1s;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .article-list {
    border: solid;
    border-color: black;
    border-radius: 5px;
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
  }

  .title-container{
    font-size: 20px;
    width: 60%;
  }

  .image-container{
  width: 300px;
  height: 150px;
  }
}
