@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: Roboto, Ariel;
}

html, body, main{
background-color: whitesmoke;
}


header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
}

#title {
  display: flex;
  position: absolute;
  text-align: center;
  padding: 10px;
  
}

#search-container {
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-button {
  background-color: #F1E5AC;
  text-align: center;
  height: 30px;
  width:  30px;
  margin: 10px;
  border-radius: 20px;
}

#search-button-icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
}

#search-button:hover {
  background-color: #FFD700;
  transition: 2s;
  cursor: pointer;
}

#search-bar {
  height: 25px;
  border-radius: 20px;
}


.article-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  border-top: 2px solid #F1E5AC;
  border-bottom: 2px solid #F1E5AC;
  margin: 10px;
}

.article {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:  #F1E5AC;
  width: 200px;
  margin: 70px;
  padding: 10px;
  -webkit-animation: fadein 2s;
  cursor: pointer;
}

.article:hover{
  background-color: #FFD700;
  transition: 2s;
}

.article-title {
  font-size: 15px;
  height: 60px;
  width: inherit;
  padding: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}


.article-image {
  height: 100%;
  max-width: 100%;
  background-color: #F1E5AC;
}

.expanded-art-container{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.image-container {
  display: inline-block;
  width: 70%;
  height: 300px;
}

.title-container {
  display: inline-block;
  width: 90%;

}

.desc-container {
  display: inline-block;
  width: 90%;
}

.author-container {
  display: inline-block;
  background-color: #F1E5AC;
  padding: 5px;
}

.art-link-container {
  text-decoration: none;
  color: black;
  display: inline-block;
  background-color: #F1E5AC;
  padding: 5px;
  margin: 4px;
}

.art-link-container:hover{
  background-color: #FFD700;
  transition: 1s;
  cursor: pointer;
}


.back-container {
  display: inline-block;
  background-color: #F1E5AC;
  padding: 4px;
  margin: 2px;
}

.back-container:hover {
  background-color: #FFD700;
  transition: 1s;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .article-list {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
  }

  .title-container{
    font-size: 20px;
    width: 60%;
  }

  .image-container{
  width: 300px;
  height: 150px;
  }
}


@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
