#article{
    background-color: #F1E5AC;
    text-align: center;
}

#article:hover{
    transition: 1s;
    box-shadow: 1px 1px gray;
    background-color: #FFD700;
}

#article-link{
    text-decoration: none;
}

#article-img{
    width: 100%;
    height: 200px;
    margin-bottom: 0;
}

