#article {
  padding-bottom: 1em;
  background-color: #f1e5ac;
  text-align: center;
}

#article:hover {
  transition: 1s;
  background-color: #ffd700;
  border-radius: 0;
}

.article__link {
  text-decoration: none;
}

.article__image {
  width: 100%;
  height: 200px;
  margin-bottom: 0;
}

.article__title{
  border-bottom: 1px solid gray;
  text-align: left;
}

.article__author{
  margin-top: 5px;
  margin-left: 1em;
  text-align: left;
  font-size: 14px;
}

.article__time{
  margin-left: 1em;
  text-align: left;
  font-size: 12px;
}