.article-details__block {
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
  border-radius: 5px;
  background-color: #f1e5ac;
  margin-bottom: 10px;
}

.article-details__block__title {
  width: 95%;
  text-align: center;
  margin-top: 10px;
}

.article-details__block__back-button {
  padding: 5px;
  border-radius: 30px;
}

.article-details__block__back-button:hover {
  transition: 1s;
  cursor: pointer;
  background-color: #ffd700;
}

.article-details__block__url {
  text-decoration: none;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #f1e5ac;
  color: black;
  padding: 5px;
  font-style: italic;
}

.article-details__block__url:hover{
  transition: 1s;
  cursor: pointer;
  background-color: #ffd700;
  text-decoration: underline;
}

.article-details__block__image {
  border-radius: 5px;
  width: 100%;
}
