.sidebar__block__lang-region {
  height: 8em;
  width: 9em;
  margin-top: 10px;
  margin-left: 7px;
  border-bottom: 2px solid gray;
}

.sidebar__block__lang-region > * {
  margin-bottom: 10px;
}

.sidebar__block__categories {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.sidebar__block__categories > * {
  width: 90%;
  margin-top: 10px;
  padding-left: 15px;
  text-align: left;
  cursor: pointer;
}

.sidebar__block__categories > *:hover {
  transition: 0.5s;
  background-color: #ffd700;
}

.sidebar__block__categories__selected {
  background-color: #ffd700;
  border-right: 2px solid gray;
}
