#header {
  z-index: 2;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  border-bottom: 2px solid #ffd700;
  background-color: white;
}

#header > a {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 30%;
  height: inherit;
  text-decoration: none;
}

.header__title {
  color: black;
  margin-left: 10px;
}

.header__logo {
  height: 25px;
  width: 25px;
}

